[submodule "udemy/ThreeJS-Primer"]
	path = udemy/ThreeJS-Primer
	url = https://github.com/NikLever/ThreeJS-Primer
[submodule "simple-3d-fps"]
	path = simple-3d-fps
	url = https://github.com/TiagoSilvaPereira/simple-3d-fps
[submodule "threeJS/FloatingIslandsDemo"]
	path = threeJS/FloatingIslandsDemo
	url = https://github.com/mrlev/FloatingIslandsDemo
[submodule "threeJS/floating-island-portal"]
	path = threeJS/floating-island-portal
	url = https://github.com/jsskrh/floating-island-portal
[submodule "threeJS/Island-WEB-GL-THREE.JS"]
	path = threeJS/Island-WEB-GL-THREE.JS
	url = git@github.com:Boyquotes/Island-WEB-GL-THREE.JS.git
[submodule "threeJS/three-floating-island"]
	path = threeJS/three-floating-island
	url = https://github.com/greenMakaroni/three-floating-island
[submodule "threeJS/threejs-floating-island"]
	path = threeJS/threejs-floating-island
	url = https://github.com/nextgtrgod/threejs-floating-island.git
[submodule "threeJS/webgl-rock-pillars"]
	path = threeJS/webgl-rock-pillars
	url = https://github.com/keaukraine/webgl-rock-pillars.git
[submodule "babylonJS/SpacePirates"]
	path = babylonJS/SpacePirates
	url = https://github.com/BabylonJS/SpacePirates.git
[submodule "babylonJS/virtualworlds"]
	path = babylonJS/virtualworlds
	url = https://github.com/deimos411/virtualworlds.git
[submodule "threeJS/virtualworlds"]
	path = threeJS/virtualworlds
	url = https://github.com/deimos411/virtualworlds.git
[submodule "threeJS/ThreeJS-Island"]
	path = threeJS/ThreeJS-Island
	url = https://github.com/Kkarl-git/ThreeJS-Island.git
[submodule "threeJS/threejs-island"]
	path = threeJS/threejs-island
	url = https://github.com/hopeman1102/threejs-island.git
[submodule "threeJS/threejs-island-hopeman1102"]
	path = threeJS/threejs-island-hopeman1102
	url = https://github.com/hopeman1102/threejs-island.git
[submodule "threeJS/terrain"]
	path = threeJS/terrain
	url = https://github.com/gitsome/terrain.git
[submodule "threeJS/3D-island-scene.github.io"]
	path = threeJS/3D-island-scene.github.io
	url = https://github.com/ritz-code/3D-island-scene.github.io.git
[submodule "threeJS/threejs-island-ekatja"]
	path = threeJS/threejs-island-ekatja
	url = https://github.com/ekatja/threejs-island.git
[submodule "threeJS/the-sky-isles"]
	path = threeJS/the-sky-isles
	url = https://github.com/World-Smiths/the-sky-isles.git
[submodule "threeJS/island3d"]
	path = threeJS/island3d
	url = https://github.com/Karan36k/island3d.git
